@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my QUIZ</h1>
    <a asp-page="./Questions/Show" class="btn btn-primary">Play Quiz</a>
</div>
